
.godot/editor/batalha_2d.tscn-folding-dc705722b9042b873191ca1c9890a575.cfg
.godot/editor/batalha_2d.tscn-editstate-dc705722b9042b873191ca1c9890a575.cfg
.godot/editor/batalha_2d.tscn-folding-dc705722b9042b873191ca1c9890a575.cfg
.godot/editor/create_recent.Node
.godot/editor/default_transition_fade_in.tscn-editstate-582dfca663db44d5385c5127622f10bf.cfg
.godot/editor/editor_layout.cfg
.godot/editor/filesystem_cache10
.godot/editor/filesystem_update4
.godot/editor/game.tscn-editstate-c2a7af834e91ff64325daddf58e45dc0.cfg
.godot/editor/language.tscn-editstate-f45afe5ad3f1b91df43b0463d042cec5.cfg
.godot/editor/menu.tscn-editstate-1ce5c86e8ca186dcaaeaa8726f1268db.cfg
.godot/editor/menu.tscn-folding-1ce5c86e8ca186dcaaeaa8726f1268db.cfg
.godot/editor/project_metadata.cfg
.godot/editor/script_editor_cache.cfg
.godot/mono/metadata/ide_messaging_meta.txt
.godot/mono/temp/bin/Debug/New Game Project.dll
.godot/mono/temp/bin/Debug/New Game Project.pdb
.godot/mono/temp/obj/Debug/New Game Project.AssemblyInfo.cs
.godot/mono/temp/obj/Debug/New Game Project.AssemblyInfoInputs.cache
.godot/mono/temp/obj/Debug/New Game Project.dll
.godot/mono/temp/obj/Debug/New Game Project.pdb
.godot/mono/temp/obj/Debug/New Game Project.sourcelink.json
.godot/mono/temp/obj/Debug/ref/New Game Project.dll
.godot/mono/temp/obj/Debug/refint/New Game Project.dll
.godot/uid_cache.bin
.godot/editor/batalha_2d.tscn-editstate-dc705722b9042b873191ca1c9890a575.cfg
.godot/editor/batalha_2d.tscn-folding-dc705722b9042b873191ca1c9890a575.cfg
.godot/editor/create_recent.Node
.godot/editor/default_transition_fade_in.tscn-editstate-582dfca663db44d5385c5127622f10bf.cfg
.godot/editor/editor_layout.cfg
.godot/editor/filesystem_cache10
.godot/editor/filesystem_update4
.godot/editor/game.tscn-editstate-c2a7af834e91ff64325daddf58e45dc0.cfg
.godot/editor/language.tscn-editstate-f45afe5ad3f1b91df43b0463d042cec5.cfg
.godot/editor/menu.tscn-editstate-1ce5c86e8ca186dcaaeaa8726f1268db.cfg
.godot/editor/menu.tscn-folding-1ce5c86e8ca186dcaaeaa8726f1268db.cfg
.godot/editor/project_metadata.cfg
.godot/editor/script_editor_cache.cfg
.godot/mono/metadata/ide_messaging_meta.txt
.godot/mono/temp/bin/Debug/New Game Project.dll
.godot/mono/temp/bin/Debug/New Game Project.pdb
.godot/mono/temp/obj/Debug/New Game Project.AssemblyInfo.cs
.godot/mono/temp/obj/Debug/New Game Project.AssemblyInfoInputs.cache
.godot/mono/temp/obj/Debug/New Game Project.dll
.godot/mono/temp/obj/Debug/New Game Project.pdb
.godot/mono/temp/obj/Debug/New Game Project.sourcelink.json
.godot/mono/temp/obj/Debug/ref/New Game Project.dll
.godot/mono/temp/obj/Debug/refint/New Game Project.dll
.godot/uid_cache.bin
.godot/editor/batalha_2d.tscn-editstate-dc705722b9042b873191ca1c9890a575.cfg
.godot/editor/batalha_2d.tscn-folding-dc705722b9042b873191ca1c9890a575.cfg
.godot/editor/batalha_2d.tscn-folding-dc705722b9042b873191ca1c9890a575.cfg
.godot/uid_cache.bin
.godot/mono/temp/obj/Debug/refint/New Game Project.dll
.godot/mono/temp/obj/Debug/ref/New Game Project.dll
.godot/mono/temp/obj/Debug/New Game Project.sourcelink.json
.godot/mono/temp/obj/Debug/New Game Project.pdb
.godot/mono/temp/obj/Debug/New Game Project.dll
.godot/mono/temp/obj/Debug/New Game Project.AssemblyInfoInputs.cache
.godot/mono/temp/obj/Debug/New Game Project.AssemblyInfo.cs
.godot/mono/temp/bin/Debug/New Game Project.pdb
.godot/mono/temp/bin/Debug/New Game Project.dll
.godot/editor/tunel_fogo.tscn-folding-2299e257a37b4acdc27e092c3137aa50.cfg
.godot/editor/tunel_fogo.tscn-editstate-2299e257a37b4acdc27e092c3137aa50.cfg
.godot/editor/script_editor_cache.cfg
.godot/editor/project_metadata.cfg
.godot/editor/intro_pacoca_producoes.gd-folding-e14ced6e40f39c42593277671695b2fc.cfg
.godot/editor/game.tscn-folding-c2a7af834e91ff64325daddf58e45dc0.cfg
.godot/editor/game.tscn-editstate-c2a7af834e91ff64325daddf58e45dc0.cfg
.godot/editor/filesystem_update4
.godot/editor/editor_layout.cfg
.godot/mono/metadata/ide_messaging_meta.txt
.godot/editor/editor_script_doc_cache.res
.godot/editor/editor_layout.cfg
.godot/editor/editor_layout.cfg
.godot/mono/metadata/ide_messaging_meta.txt
.godot/mono/metadata/*
android/build/src/com/godot/game/GodotApp.java
android/build/settings.gradle
android/build/res/values/themes.xml
android/build/res/values/godot_project_name_string.xml
android/build/res/values-zh/godot_project_name_string.xml
android/build/res/values-zh-rTW/godot_project_name_string.xml
android/build/res/values-zh-rHK/godot_project_name_string.xml
android/build/res/values-vi/godot_project_name_string.xml
android/build/res/values-uk/godot_project_name_string.xml
android/build/res/values-tr/godot_project_name_string.xml
android/build/res/values-tl/godot_project_name_string.xml
android/build/res/values-th/godot_project_name_string.xml
android/build/res/values-sv/godot_project_name_string.xml
android/build/res/values-sr/godot_project_name_string.xml
android/build/res/values-sl/godot_project_name_string.xml
android/build/res/values-sk/godot_project_name_string.xml
android/build/res/values-ru/godot_project_name_string.xml
android/build/res/values-ro/godot_project_name_string.xml
android/build/res/values-pt/godot_project_name_string.xml
android/build/res/values-pl/godot_project_name_string.xml
android/build/res/values-nl/godot_project_name_string.xml
android/build/res/values-nb/godot_project_name_string.xml
android/build/res/values-lv/godot_project_name_string.xml
android/build/res/values-lt/godot_project_name_string.xml
android/build/res/values-ko/godot_project_name_string.xml
android/build/res/values-ja/godot_project_name_string.xml
android/build/res/values-iw/godot_project_name_string.xml
android/build/res/values-it/godot_project_name_string.xml
android/build/res/values-in/godot_project_name_string.xml
android/build/res/values-hu/godot_project_name_string.xml
android/build/res/values-hr/godot_project_name_string.xml
android/build/res/values-hi/godot_project_name_string.xml
android/build/res/values-fr/godot_project_name_string.xml
android/build/res/values-fi/godot_project_name_string.xml
android/build/res/values-fa/godot_project_name_string.xml
android/build/res/values-es/godot_project_name_string.xml
android/build/res/values-es-rES/godot_project_name_string.xml
android/build/res/values-en/godot_project_name_string.xml
android/build/res/values-el/godot_project_name_string.xml
android/build/res/values-de/godot_project_name_string.xml
android/build/res/values-da/godot_project_name_string.xml
android/build/res/values-cs/godot_project_name_string.xml
android/build/res/values-ca/godot_project_name_string.xml
android/build/res/values-bg/godot_project_name_string.xml
android/build/res/values-ar/godot_project_name_string.xml
android/build/libs/release/godot-lib.template_release.aar
android/build/libs/debug/godot-lib.template_debug.aar
android/build/gradlew.bat
android/build/gradlew
android/build/gradle/wrapper/gradle-wrapper.properties
android/build/gradle/wrapper/gradle-wrapper.jar
android/build/gradle.properties
android/build/config.gradle
android/build/build.gradle
android/build/assetPackInstallTime/build.gradle
android/build/AndroidManifest.xml
android/build/.gdignore
android/.build_version
