
.godot/editor/batalha_2d.tscn-folding-dc705722b9042b873191ca1c9890a575.cfg
.godot/editor/batalha_2d.tscn-editstate-dc705722b9042b873191ca1c9890a575.cfg
.godot/editor/batalha_2d.tscn-folding-dc705722b9042b873191ca1c9890a575.cfg
.godot/editor/create_recent.Node
.godot/editor/default_transition_fade_in.tscn-editstate-582dfca663db44d5385c5127622f10bf.cfg
.godot/editor/editor_layout.cfg
.godot/editor/filesystem_cache10
.godot/editor/filesystem_update4
.godot/editor/game.tscn-editstate-c2a7af834e91ff64325daddf58e45dc0.cfg
.godot/editor/language.tscn-editstate-f45afe5ad3f1b91df43b0463d042cec5.cfg
.godot/editor/menu.tscn-editstate-1ce5c86e8ca186dcaaeaa8726f1268db.cfg
.godot/editor/menu.tscn-folding-1ce5c86e8ca186dcaaeaa8726f1268db.cfg
.godot/editor/project_metadata.cfg
.godot/editor/script_editor_cache.cfg
.godot/mono/metadata/ide_messaging_meta.txt
.godot/mono/temp/bin/Debug/New Game Project.dll
.godot/mono/temp/bin/Debug/New Game Project.pdb
.godot/mono/temp/obj/Debug/New Game Project.AssemblyInfo.cs
.godot/mono/temp/obj/Debug/New Game Project.AssemblyInfoInputs.cache
.godot/mono/temp/obj/Debug/New Game Project.dll
.godot/mono/temp/obj/Debug/New Game Project.pdb
.godot/mono/temp/obj/Debug/New Game Project.sourcelink.json
.godot/mono/temp/obj/Debug/ref/New Game Project.dll
.godot/mono/temp/obj/Debug/refint/New Game Project.dll
.godot/uid_cache.bin
.godot/editor/batalha_2d.tscn-editstate-dc705722b9042b873191ca1c9890a575.cfg
.godot/editor/batalha_2d.tscn-folding-dc705722b9042b873191ca1c9890a575.cfg
.godot/editor/create_recent.Node
.godot/editor/default_transition_fade_in.tscn-editstate-582dfca663db44d5385c5127622f10bf.cfg
.godot/editor/editor_layout.cfg
.godot/editor/filesystem_cache10
.godot/editor/filesystem_update4
.godot/editor/game.tscn-editstate-c2a7af834e91ff64325daddf58e45dc0.cfg
.godot/editor/language.tscn-editstate-f45afe5ad3f1b91df43b0463d042cec5.cfg
.godot/editor/menu.tscn-editstate-1ce5c86e8ca186dcaaeaa8726f1268db.cfg
.godot/editor/menu.tscn-folding-1ce5c86e8ca186dcaaeaa8726f1268db.cfg
.godot/editor/project_metadata.cfg
.godot/editor/script_editor_cache.cfg
.godot/mono/metadata/ide_messaging_meta.txt
.godot/mono/temp/bin/Debug/New Game Project.dll
.godot/mono/temp/bin/Debug/New Game Project.pdb
.godot/mono/temp/obj/Debug/New Game Project.AssemblyInfo.cs
.godot/mono/temp/obj/Debug/New Game Project.AssemblyInfoInputs.cache
.godot/mono/temp/obj/Debug/New Game Project.dll
.godot/mono/temp/obj/Debug/New Game Project.pdb
.godot/mono/temp/obj/Debug/New Game Project.sourcelink.json
.godot/mono/temp/obj/Debug/ref/New Game Project.dll
.godot/mono/temp/obj/Debug/refint/New Game Project.dll
.godot/uid_cache.bin
.godot/editor/batalha_2d.tscn-editstate-dc705722b9042b873191ca1c9890a575.cfg
.godot/editor/batalha_2d.tscn-folding-dc705722b9042b873191ca1c9890a575.cfg
.godot/editor/batalha_2d.tscn-folding-dc705722b9042b873191ca1c9890a575.cfg
